.pam-header {
  background: #fff;
  padding: 10px 0;
  max-width: 100%;
  .pam-container{
    max-width: 100%;
  }
  .logo-left{
    h1{
      margin: 0;
      padding: 0;
      font-size: 1.15rem;
    }
  }
  .header-right{
    .cl-container{
      margin: 0 auto 1em;
      .pam-hover-drop-down{
        .pam-drop-down{
          ul{
            right: 0;
          }
        }
      }
    }
  }
}

.pam-footer {
  font-family: Verdana, Sans-Serif;
  background: #f2f2f2;
  border-top: 1px solid #f3f3f3;
  font-size: 11px;
  padding: 16px;
  text-align: center;
  a {
    color: #444;
    text-decoration: none;
  }
}


.reg-rep{
  color: #f00;
}
