---
{
  "title": "Helpful Links",
  "links": [
    {
      "title": "Eagle Strategies",
      "url": "http://eaglestrategies.com"
    },
    {
      "title": "New York Life",
      "url": "http://www.newyorklife.com"
    },
    {
      "title": "New York Life Advisors",
      "url": "http://nyladvisors.com"
    },
    {
      "title": "Annual Credit Report - Free Reports",
      "url": "https://www.annualcreditreport.com/"
    },
    {
      "title": "Federal Reserve Website",
      "url": "http://www.federalreserve.gov"
    },
    {
      "title": "Inflation Calculators",
      "url": "http://www.usinflationcalculator.com"
    },
    {
      "title": "Association of Unclaimed Property",
      "url": "http://www.unclaimed.org"
    },
    {
      "title": "Investment Company Institute",
      "url": "http://www.ici.org"
    },
    {
      "title": "Medicare Part D Information",
      "url": "http://www.medicare.gov/part-d/index.html"
    },
    {
      "title": "Treasury Department Daily Treasury",
      "url": "http://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yield"
    },
    {
      "title": "Life Happens",
      "url": "http://www.lifehappens.org/"
    },
    {
      "title": "Internal Revenue Service",
      "url": "https://www.irs.gov"
    },
    {
      "title": "Social Security Administration",
      "url": "https://www.ssa.gov"
    }
  ]
}
---
<div class="pam-section">
    <ul class="pam-flex calculators">
      {{ range $i, $l := .page.links }}
        <li><a href="{{ $l.url }}" target="_blank" class="pam-button">{{ $l.title }}</a></li>
      {{ end }}
    </ul>
</div>
<div class="pam-section">
  <p class="pam-footnote">This website contains links to websites owned and operated by third parties. If you use these links, you leave our website. These links are provided for your information and convenience only and are not an endorsement by {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">Set the DBA Name</span>{{ end }}, of the content of such linked websites or third parties. {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">Set the DBA Name</span>{{ end }} has no control over the contents of any linked website and is not responsible for these websites or their content or availability.</p>
</div>
