---
{
  "title": "Business Solutions",
  "services": [
    {
      "title": "Executive Benefits",
      "content": "<p>The success of most businesses is tied in to the talent, passion, and work ethics of their key executives. Executive benefit packages can help you attract, motivate, and retain high-caliber employees and keep your company healthy and stable. We can help you with funding non-qualified plans, supplemental employee retirement plans, split dollar plans, and more.</p>"
    },
    {
      "title": "Succession Planning",
      "content": "<p>Succession planning allows owners to retire from their business within their own time frame, while preparing for the company to be transferred to family members, key employees, an outside party, or even a charity. This must be done in a way that achieves personal financial security, maintains harmony, and achieves maximum value for the business. We can provide financial strategies for succession planning.</p>"
    },
    {
      "title": "Key Person Insurance",
      "content": "<p>Key person life insurance offers a death benefit that helps indemnify an employer for the loss of one of its most important assets—the key person. This can help assure continuity of the business for employees, customers, and creditors, and protects against losses in sales, momentum, and credit. It can also be used to assist with recruiting and developing a replacement for the employee.</p>"
    },
    {
      "title": "Funding Buy-Sell Agreements",
      "content": "<p>A buy-sell agreement is a legally binding agreement between co-owners of a business that governs the situation if a co-owner dies or leaves the business, whether by force or by choice. A funded cross-purchase buy-sell plan utilizes life insurance to help ensure that the arrangement is properly funded so that there will be money if the event occurs.</p>"
    },
    {
      "title": "Funding Deferred Compensation",
      "content": "<p>Deferred compensation is a written agreement between an employer and an employee in which the employee chooses to have part of his or her compensation withheld by the company, invested on their behalf, and distributed to them at a predetermined point in the future. Deferred compensation can be used as a flexible way to attract and incentivize key employees. We provide funding strategies for deferred compensation.</p>"
    }
  ]
}
---
<div class="pam-section">
  <p>Here at {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">Set the DBA Name</span>{{ end }}], we offer a wide array of services to help business owners address their financial needs at every stage of the business life cycle. Taking into account their personal values and financial goals, we create and execute customized strategies to help entrepreneurs meet their objectives. Some of our key services are detailed below.</p>
</div>
<div data-expander=".pam-section" data-expander-title="h2">
  {{ range $i, $s := .page.services }}
    <div class="pam-section">
      <h2>{{ $s.title }}</h2>
      {{ $s.content }}
    </div>
  {{ end }}
</div>
