---
{
  "title": "Personal Solutions",
  "services": [
    {
      "title": "Estate Planning",
      "content": "<p>A well-engineered estate conservation plan can help minimize tax liability and ensure that loved ones are protected. We will work with you and your advisors to assess the impact of state and federal taxes on your estate and suggest strategies to help minimize those taxes while meeting your family’s needs.  We do not provide tax advice.  Please consult with your own advisors for tax advice.</p>"
    },
    {
      "title": "Asset Protection",
      "content": "<p>There are numerous financial strategies and retirement income strategies that can help you accumulate assets for the future, protect your business and personal assets from liabilities, and safeguard asset transfer to children and grandchildren. We can help you figure out what the right course of action is for your specific situation and objectives.</p>"
    },
    {
      "title": "Charitable Planning",
      "content": "<p>Charitable planning allows you to support the organizations and causes that matter to you, while often providing immediate income streams and reducing your tax burden. Numerous charitable giving strategies exist, and we can help you design and execute a charitable giving strategy that is in alignment with your personal and philanthropic goals. Please seek tax advice from your own tax advisors.</p>"
    },
    {
      "title": "Disability and Extended Care Needs",
      "content": "<p>To execute a sound retirement strategy, asset and income protection are a must. Designing a plan that encompasses managing costs for extended periods of care and disability insurance can help create the necessary balance in a portfolio to ensure stability and protection of assets.</p><p class=\"pam-footnote\">Products available through one or more carriers not affiliated with New York Life Insurance Company, dependent on carrier authorization and product availability in your state or locality.</p>"
    },
    {
      "title": "401(k) and IRA Rollovers",
      "content": "<p>When you leave a job or retire, you have a decision to make regarding your 401(k) money. While leaving those assets in the former employer's plan is an option, a rollover can be a consideration. Working with your tax advisor, we can help you determine the right course of action for you. This may include: leaving the funds in your existing plan, if permitted, or rolling them into your new employer's plan, if one is available and rollovers are permitted. Each choice offers advantages and disadvantages, depending on your specific needs and retirement plan, such as the desired investment options and services, applicable fees, expenses, and withdrawal options, as well as required minimum distributions and tax treatment of applicable options.</p><p class=\"pam-footnote\">Products available through one or more carriers not affiliated with New York Life Insurance Company, dependent on carrier authorization and product availability in your state or locality.</p>"
    },
    {
      "title": "Wealth Management and Retirement Planning",
      "content": "<p>Through Eagle Strategies LLC, a wholly owned subsidiary of New York Life Insurance Company, we work with our clients to design and implement a variety of wealth accumulation and management  plans, offering investment programs ranging from separately managed portfolios of stocks and bonds to mutual funds, and access to third-party wealth management programs. We offer a consistent process to help ensure management of investment assets according to your goals, risk tolerance and time horizon. We then monitor your plan on a continual basis, and adjust and evolve as your needs change.</p>"
    },
    {
      "title": "Financial Planning<sup>*</sup>",
      "content": "<p>Through Eagle Strategies LLC, we provide personalized financial planning to our clients that is specific to several variables, including their income, risk tolerance, values, and family. We work with each client to identify and prioritize their goals, explore options, establish effective strategies, construct and execute a plan, and assess the performance of the plan and make adjustments as needed.</p>"
    }
  ]
}
---
<div class="pam-section">
  <p>{{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">Set the DBA Name</span>{{ end }} provides individuals and families with innovative, cutting-edge products and services to help them grow, protect, and conserve their wealth through all stages in life. Taking into account your needs, goals, and tolerance for risk, we will work with you to bring clarity to what you want to achieve and how to get there. Some of our key services are detailed below.</p>
</div>
<div data-expander=".pam-section" data-expander-title="h2">
  {{ range $i, $s := .page.services }}
    <div class="pam-section">
      <h2>{{ $s.title }}</h2>
      {{ $s.content }}
    </div>
  {{ end }}
</div>
