---
{
  "title": "Investment Management",
  "services": [
    {
      "title": "Fund Advisory Program",
      "content": "<p>This program combines the expertise of professional investment managers with the service and guidance of our firm's Financial Advisors. By analyzing your overall investment goals, risk tolerance levels, and liquidity needs, we'll help you determine which investment portfolio allocation, consisting of an optimal blend of non-proprietary, mutual funds and/or exchange-traded funds (ETFs) is most appropriate for your investment goals and specific situation.</p>"
    },
    {
      "title": "Separately Managed Accounts",
      "content": "<p>Separately Managed Accounts (&ldquo;SMAs&rdquo;) are a type of professionally managed investment accounts that invests in individual securities on a discretionary basis and provides our clients the flexibility of restricting the holding of certain securities and tactically utilizing gains and losses for tax planning purposes. Our firm's Financial Advisors will leverage Eagle's robust offering of non-proprietary SMA strategies available through third party money managers to either custom design a holistic investment portfolio or will utilize individual strategies to address your specific allocation needs.</p>"
    },
    {
      "title": "Rep Directed Program",
      "content": "<p>This is an investment advisory program through which our firm's Financial Professionals will construct a customized portfolio of individual mutual funds, exchange traded funds (ETFs), and in some cases, individual securities, using the strategic asset allocation framework developed by Eagle Strategies and a leading institutional asset manager, or simply by our firm's Financial Professionals. We'll seek to utilize an optimal blend of asset classes that helps maximize long-term returns, manage overall portfolio volatility and achieve investment objectives while remaining aligned with your risk profile.</p>"
    }
  ]
}
---
<div class="pam-section">
  <p>Eagle Strategies LLC, is a Registered Investment Adviser and an indirect, wholly-owned subsidiary of New York Life, is a provider of holistic investment advisory and financial planning services. We leverage Eagle's sophisticated wealth management platform, comprised of many of today's leading investment managers, to design customized investment solutions to help address our clients' unique investment objectives and risk tolerance levels. Our firm's breadth and investment knowledge, coupled with Eagle's diverse team of investment experts, allows us to provide the continuous financial guidance needed to help our clients achieve long-term financial success.</p>
</div>
<div data-expander=".pam-section" data-expander-title="h2">
  {{ range $i, $s := .page.services }}
    <div class="pam-section">
      <h2>{{ $s.title }}</h2>
      {{ $s.content }}
      {{ if $s.disclaimer }}
        <p class="pam-footnote">"Financial Planning offered through {{ if .site.plural_name }}{{ .site.plural_name }}{{ else }}<span style="color: red">Set the Plural Name</span>{{ end }} affiliation with Eagle Strategies LLC, A Registered Investment Adviser."</p>
      {{ end }}
    </div>
  {{ end }}
</div>
<div class="pam-footnote">
  <p>All investment advisory services are offered through Eagle Strategies LLC, a registered investment adviser. All investments involve risk including the potential loss of principal. Investing in an ETF will give the portfolio exposure to the securities comprising the index on which the ETF is based and will expose the portfolio to risks similar to those investing in those securities. ETFs are subject to market price risk. Shares of ETFs are traded on an exchange and will trade at market price, which may be above or below its net asset value (NAV). There is also a liquidity risk in that the trading of an ETF may be halted due to such things as market conditions. The investor will pay brokerage commissions in connection with the purchase of shares of ETFs.</p>
</div>
