---
{
  "title": "Our Products",
  "services": [
    {
      "title": "Life Insurance",
      "content": "<p>Many people think that life insurance is only for people with families. While it is true that life insurance can help provide for the needs of dependents, life insurance also can be an important part of a well-thought-out estate, business succession or charitable giving plan. And permanent life insurance offers many living benefits as well, such as tax-deferred cash value accumulation. For all of these reasons, life insurance can be important for someone starting out - or for someone who's starting over.</p>",
      "sub": [
        {
          "title": "Whole Life",
          "content": "<p>Whole Life insurance is also known as permanent insurance. You receive coverage for your entire life, as long as premiums (which are a set amount per period) are paid. Whole life policies accumulate cash value tax-deferred.</p>"
        },
        {
          "title": "Term Life",
          "content": "<p>Term Life policies provide coverage for a specific amount of time - such as 5 years, 10 years or 20 years. Term premiums are often less expensive than whole life premiums, but once the term of the policy is complete, coverage terminates. There is no accumulation of cash value.</p>"
        },
        {
          "title": "Universal Life",
          "content": "<p>Universal Life insurance is designed to offer customizable death benefit protection with non-guaranteed planned premiums and a non-guaranteed death benefit. Depending on the product selected and the amount of premium you pay, Universal Life insurance can allow you to keep your coverage as long as you need: to age 80, 90, 100 or longer. Because of the policy’s flexible and non-guaranteed nature, it is important to fund your policy properly and actively manage your policy to reflect changes in interest crediting rates and policy charges over the duration of your policy.  This policy will terminate if at any time the cash surrender value is insufficient to pay the monthly deductions. This can happen due to insufficient premium payments, if loans or withdrawals are made, or if current interest rate or charges fluctuate.</p>"
        },
        {
          "title": "Variable Universal Life",
          "content": "<p>Variable Universal Life Insurance combines the premium and death benefit flexibility of a Universal Life policy with investment opportunities. You may allocate your premium amongst a variety of professionally managed investment divisions plus a fixed account. Of course, with investment opportunities comes risk along with the potential for reward.</p><p class=\"pam-footnote\">These products are offered by prospectus through NYLIFE Securities LLC. (member FINRA/SIPC), and a Licensed insurance Agency. Be sure to request one and read it carefully before investing as both the product and investment options prospectuses provide complete information you need to know regarding charges, expenses and risk factors.</p>"
        },
        {
          "title": "Survivorship Life",
          "content": "<p>Survivorship life insurance - available as whole life, universal life or variable universal life - covers two people and provides payment of the proceeds when the second insured individual dies. Survivorship life insurance is often used to help meet estate planning or business continuation goals.</p><p>The policy will terminate if at any time the cash surrender value is insufficient to pay the monthly deductions. This can happen due to insufficient premium payments, if loans or withdrawals are made, or if current interest rates or changes fluctuate.</p>"
        }
      ]
    },
    {
      "title": "Annuities",
      "content": "<p>An annuity is a unique financial vehicle designed to help you accumulate money for your retirement and/or turn a lump-sum of money into a guaranteed stream of income payments. Deferred annuities offer the advantage of tax-deferral and can be used to accumulate money for retirement. Income annuities are used to generate a stream of income payments that is guaranteed to last for as long as you need it to - even for the rest of your life*. Some of the different types of annuities are:</p>",
      "sub": [
        {
          "title": "Fixed Deferred Annuities",
          "content": "<p>With a Fixed Deferred Annuity, the interest rate on your policy is guaranteed<sup>*</sup> never to fall below a certain amount. For many people, this provides a measure of security.</p><p>Subject to a sales charge for early withdrawals and may be subject to income tax. Withdrawals prior to 59.5 are subject to a 10% tax penalty.</p><p class=\"pam-footnote\"><sup>*</sup>Guarantees are dependent upon the claims paying ability of the issuing insurer.</p>"
        },
        {
          "title": "Lifetime Income Annuities",
          "content": "<p>An income annuity where income payments begin immediately - one period after the annuity is purchased. It is designed to provide you with predictable income monthly, quarterly, semi-annually or annually, no matter how long you live, and regardless of how the financial markets perform.</p><p>All guarantees associated with Annuity Contracts are based on the claims paying ability of the issuing insurance company. Withdrawals may be subject to regular income tax, and if made prior to age 59 1/2, may be subject to a 10% IRS penalty. In addition, surrender charges may apply.</p>"
        },
        {
          "title": "Variable Deferred Annuities",
          "content": "<p>A Variable Deferred Annuity offers the advantage of tax deferral and can be used to accumulate money for retirement. The policy's accumulated value - and sometimes the amount of monthly annuity benefit payments - fluctuates with the performance of your variable investment account options. There are fees, expenses and risks associated with the contract. Please be aware that assets allocated to the investment divisions are subject to market risks and will fluctuate in value.</p><p class=\"pam-footnote\">Offered through NYLIFE Securities LLC (member FINRA/SIPC), and a Licensed Insurance Agency.</p>"
        }
      ]
    }
  ]
}
---
<div class="pam-section">
  <p>The team at {{ if .site.dba }}{{ .site.dba }}{{ else }}<span style="color: red">Set the DBA Name</span>{{ end }} are trained professionals who can help you identify your financial needs and then determine which financial and insurance products can best help you meet your objectives. Some of the products we often use to serve the needs of our clients include:</p>
</div>
{{ range $i, $s := .page.services }}
  <div class="pam-section">
    <h2>{{ $s.title }}</h2>
    {{ $s.content }}
    {{ range $s, $sub := $s.sub }}
      <div data-expander=".pam-sub-section" data-expander-title="h3">
        <div class="pam-sub-section">
          <h3>{{ $sub.title }}</h3>
          {{ $sub.content }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
