<!-- BEGIN TEMPLATES -->
<script data-pam-template-name="layout"
        type="application/x-pam-template">
  <div class="pam-mobile-nav">
    <ul>
      <li><a class="pam-mobile-nav-close">Close</a></li>
      <li><a href="index.cfm">Home</a></li>
    </ul>
    <%= render("nav") %>
  </div>
  <div class="pam-mobile-nav-toggle"><i class="lmg-fal lmg-fa-bars"></i></div>
  <div class="pam-site-wrapper pam-sticky-wrapper">
    <div class="pam-sticky-content">
      <div class="pam-header">
        <div class="pam-container">
          <div class="pam-flex jc ai">
            <div class="pam-large-3 pam-columns valign-middle logo-left">
              <% if(exists('.pam-page-index')) { %><h1><% } %>
                <a href="index.cfm"><img src="{{ if .site.logo }}{{ file .site.logo }}{{ else }}//placehold.it/300x100?text=Insert Logo{{ end }}" alt="{{ .site.title }}" /></a>
              <% if(exists('.pam-page-index')) { %></h1><% } %>
            </div>
            <div class="pam-large-9 pam-columns valign-middle header-right">
              <div class="cl-container pam-flex je">
                {{ if .site.client_login.exists }}
                  <div class="pam-hover-drop-down">
                    <a class="pam-button">Client Login</a>
                    <div class="pam-drop-down">
                      <ul>
                        {{ range $i, $cl := .site.client_login.links }}
                          <li><a href="{{ $cl.url }}" target="_blank">{{ $cl.title }}</a></li>
                        {{ end }}
                      </ul>
                    </div>
                  </div>
                {{ end }}
               </div>
              <div class="pam-auto-nav pam-desktop-nav">
                <%= render("nav") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pam-page-content-container">
      <% if (exists('.pam-page-interior')) { %>
        <% if (exists('#emerald-page-title')) { %>
          <div class="title-container">
            <div class="pam-container">
              <h1><%= moveFrom('#emerald-page-title') %></h1>
            </div>
          </div>
        <% } %>
        <div class="pam-container pam-page-content">
          <%= moveFrom("#emerald-page-content") %>
        </div>
      <% } else { %>
      <%= moveFrom("#emerald-page-content") %>
      <% } %>
      </div>
    </div>
    <div class="pam-sticky-footer">
      <div class="pam-footer">
        <%= moveFrom("#emerald-page-footer") %>
      </div>
    </div>
  </div>
</script>
<script data-pam-template-name="nav" type="application/x-pam-template">
  <ul>
    {{ range $i, $n := .site.nav }}
      <li><a{{ if $n.url }} href="{{ $n.url }}" {{ end }}{{ if $n.blank }} target="_blank"{{ end}}>{{ $n.title }}</a>
        {{ if $n.sub_nav }}
        <div class="pam-sub-nav">
          <ul>
            {{ range $i2, $sn := $n.sub_nav }}
              <li><a href="{{ $sn.url }}"{{ if $sn.blank }} target="_blank"{{ end}}>{{ $sn.title }}</a></li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</script>
<!-- END TEMPLATES -->
